
html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body, #root, .App {
  height: 100%;
  margin: 0;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-grow:0;
  flex-basis: 20%;
}

header{
  height: 5%;
  padding: 20px;
  color:white;
  background-color: #222;
}

header h1 {
  margin: 0;
}

input{
  width: 50%;
  margin:auto;
}

.food-list{
  height: 200px;
}

.added {
  background-color: green;
}

.focus{
  font-size: .8em;
}

.info{
  display:flex;
  flex-direction:row
}

.ingredients, .nutrients {
  width: 50%;
}

.ingredients p, .nutrients > .scrollable {
    height: 85px;
}


.nutrients .scrollable {
  display: flex;
  justify-content: space-around;
}

.nutrients ul, .food-list ul, .my-food ul {
  list-style: none;
}


.ingredients span {
  font-variant:small-caps;
}

.my-food{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content:flex-start;
}

.food-list input {
  width: 173px;
}

.food-list, .food-list input {
  font-size: 10pt;
}

.food-list, .list-and-total{
  height: 400px;
}

.my-food-disclaimer {
  bottom: 0px;
}

.scrollable{
  overflow-y: scroll;
}


.scrollable::-webkit-scrollbar {
    width: 12px;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.my-food.scrollable {
  overflow-y:hidden;
  overflow-x: scroll;
}
