
html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body, #root, .App {
  height: 100%;
  margin: 0;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-grow:0;
  flex-basis: 20%;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

header{
  height: 5%;
  padding: 20px;
  color:white;
  background-color: #222;
}

header h1 {
  margin: 0;
}

#landing button {
  width: 100px;
}



.landing-disclaimer {
  background-color: yellow;
  font-size: 9pt;
  align-self: flex-end;
}

input{
  width: 50%;
  margin:auto;
}

.food-list{
  height: 200px;
}

.added {
  background-color: green;
}

.focus{
  font-size: .8em;
}

.info{
  display:flex;
  flex-direction:row
}

.ingredients, .nutrients {
  width: 50%;
}

.ingredients p, .nutrients > .scrollable {
    height: 85px;
}


.nutrients .scrollable {
  display: flex;
  justify-content: space-around;
}

.nutrients ul, .food-list ul, .my-food ul {
  list-style: none;
}


.ingredients span {
  font-variant:small-caps;
}

.my-food, .my-food-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.my-food{
  justify-content: space-around;
}

.food-items input {
  width: 155px;
}

.food-items, .food-items input {
  font-size: 9pt;
}

.food-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#my-food-totals, .food-items, .my-food-list {
  margin: auto;
  padding: 15px;
  width: 50%;
  height: 100%;
}

.food-items {
  width: 100%;
}


.food-name {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  width: 150px;
}

 .list-and-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60%;
  align-content: center;
  flex-basis: auto;
}

#my-food-disclaimer {
  background-color: yellow;
  border-color: black;
  border-style:solid;
  font-size: 9pt;
  bottom: 0px;
}

.my-food-list h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.my-food-list ul {
  margin: auto;
  height: 33%;
  padding: 5px;
}

.my-food-list button {
  width: 150px;
  margin: auto;
  height: 30px;
}

.my-food-list, .my-food-totals {
  width: 50%;
}

.food-tooltip {
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  padding: 10px;
  border-style: solid;
  border-color: grey;
}


#food-limit{
  font-size: 9pt;
}

#food-limit div > span {
  background-color: black;
  color: yellow;
}

#macro-help {
  position: absolute;
  z-index: 3;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
  background-color: rgba(230, 202, 202, 0.9);
}

#macro-help div {
  transform:translateY(10%);
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  height: 80%;
  background-color: white;
}


#macro-help p {
  width: 70%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

.equation {
  font-family: monospace;
}

.equation span {
  background-color: white;
  color: inherit;
  vertical-align:sub;
  font-size: 80%;
}

.scrollable{
  overflow-y: scroll;
}

.my-food.scrollable, .food-items.scrollable {
  overflow-y: hidden;
  overflow-x: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 12px;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
