



html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body, #root, #root > div, .App {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-grow:0;
  flex-basis: 20%;
  overflow: hidden;
}

#loading {
  text-align: center;
  padding: 300px;
}


#landing-bg {
  z-index: 2;
  height: 100%;
  background-image: url('./assets/landing-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(75%) saturate(90%) contrast(80%);
}


#landing {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#landing header {
  margin-top: 20px;
  margin-left: 20px;
  align-self: flex-start;
  opacity: .65;
  background-color: white;
  mix-blend-mode: screen;
  padding: 0px 15px 0px 15px;
}

#landing header h1 {
  margin: 0;
  font-size: 25pt;
  font-family: 'Lora', serif;

}

#landing-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: .65;
  background-color: white;
  width: 60%;
  padding: 15px;
  font-size: 12pt;
  padding: 20px; padding-bottom: 6px;
}

#left, #buttons {
  text-align: left;
}

#buttons{
  position: relative; bottom: 0px;
}

#right {
  text-align: right;
}

.hook {
  width: 50%;
  height: 15%;
  opacity: .65;
  background-color: white;
  mix-blend-mode: screen;
  padding: 25px; padding-bottom: 0px;
}

.hook h1, #landing-info h1 {
  padding: 0; margin: 0;
  font-size: 18pt;
  font-family: 'Lora', serif;
}


#landing-info h1 {
  padding: 10px;
  font-size: 12pt;
}


button {
  padding:0;  margin: auto; margin: 0 5px 0 0;
  width: 100px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: 'PT Sans', sans-serif;
}


#landing button:hover {
  background-color: #d1d1d1;
  color: black;
}


#landing .hook button {
  margin-top: 15px;
}

#landing-disclaimer {
  opacity: .65;
  background-color: white;
  font-size: 7pt;
  bottom: 0px;
}

/* food search and food list style */

#foodlist-bg{
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-image: url('./assets/foodlist-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(90%) saturate(80%) contrast(80%);
}

#css-transitions{
  height: 100%;
  width: 100%;
}


#food-list-page{
  height: 100%;
  position: relative;
  width: 100%;
}

#food-list-view{
  position: absolute;
  opacity: .7;
  z-index: 2;
  height: 100%;
  width: 100%;
}

#food-list-view form {
  padding-top: 10px; padding-bottom: 10px;
}

#food-list-view form #search-bar-container {
  width: 50%; height: 24px; background-color: white;
  display: flex; flex-direction: row;
  justify-content: center;
  margin-left: auto; margin-right: auto;
}

#search-bar-container img{
  position: relative; bottom: 7px;
  height: 40px;
}

input{
  position: relative;
  bottom: 1px;
  background-color: none;
  color: black;
  display: block;
  width: 100%; height: 20px;
  padding-left: 5px;
}

input::placeholder{
  color: grey;
}

#search-bar-container:hover{
  border-color: blue; border-width: 1px;
}

#section-focus {
  width: 100%;
  height: 600px;
  margin-top: 80px; margin-bottom: auto;
  display: flex; flex-direction: row; justify-content: space-between;
}


#food-list-view h1, #food-list-view h2, #food-list-view h3{
  font-family: 'Lora', serif;
  padding: 0px;
  margin: 0px;
}


#food-list-view h4{
  background-color: beige;
  margin: 0; margin-left: 100px; margin-top: 100px;
  padding: 40px;
  font-size: 15pt;
}


#food-list-view h1 {
  font-size: 18pt;
}

#food-list-view #focus h1 {
  font-size: 12pt;
  margin-bottom: 15px;
}

#food-list-view #focus h2 {
  margin-bottom: 5px;
}

.capitalize {
  text-transform: capitalize;
}

#food-list-container{
  padding: 8px;
  height: 60%;
  margin-top: 100px;
  display: relative;
  margin-left: 80px; margin-right: 50px;
  width: 35%;
  background-color:beige;
}

.food-list{
  margin: auto; margin-top: 15px;
  width: 100%;
  height: 80%
}

#food-list-view .food-list  h1 {
  display:block;
  text-align: center;
  margin-top: 80px; margin-bottom: auto;
}

.food-list li {
  margin: 2px;
  display: block;
  width: 80%;
  padding: 2px;
}

.food-list li span{
  border-bottom: 1px groove  lightgrey;
  border-bottom-style: inset;
}

.food-list li:hover {
  background-color: #baffb1;
}


.added {
  background-color: green;
}

#focus{
  font-size: .8em;
  width: 50%; height: 200px;
  margin-right: 30px;
}

#focus section{
  padding: 15px;
  background-color: beige;
  height: auto; width: 90%;
}

.info{
  display:flex; flex-direction:row;
  height: auto;
}

.ingredients, .nutrients {
  width: 50%;
}

.ingredients div {
  height: 180px;
  font-size: 11pt;
}


.nutrients .scrollable {
  display: flex;
  justify-content: space-around;
  height: 130px;
  font-size: 10pt;
}
.nutrients ul, .food-list ul, .my-food ul {
  list-style: none;
}

.ing-group {
  text-transform: lowercase;
}

#macros li, #minerals li {
  padding: 3px; padding-left: 0px;
}


#food-list-page button {
  padding: 2px; margin-top: 2px;
  border: none;
  background-color: beige;
  border: 1px solid black;
}

#food-list-page button:hover {
  background-color: #baffb1;
  color: black;
}

/* Food stats page styling*/

#foodStats-bg{
  position: absolute;
  z-index: 2;
  width: 100%; height: 100%;
  background-image: url('./assets/foodstats-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(90%) saturate(80%) contrast(80%);
}


#stats-view{
  height: 100%; width: 100%;
  background-color: beige;
  opacity: .8;
  z-index: 2;
}

.dear{
  text-align:center;
}


.my-food, .my-food-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}


.food-items input {
  width: 175px;

}

.food-items, .food-items input {
  font-size: 9pt;
}


.my-food-list {
  height: auto;
}

#my-food-totals, .food-items, .my-food-list {
  margin: auto;
  padding: 15px;
  width: 50%;
}

.food-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 500px;
  width: 100%;
}

.food-name {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  width: 150px;
}

 .list-and-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  align-content: center;
  flex-basis: auto;
}

#my-food-disclaimer {
  overflow-y:hidden;
  position: absolute;
  background-color: yellow;
  border-color: black;
  border-style:solid;
  font-size: 9pt;
  bottom: 0px;
  height: 20px;
  transition: all .5s ease;
}

#my-food-disclaimer:hover {
  height: 125px;
}


.my-food-list h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.my-food-list ul {
  margin: auto;
  height: 33%;
  width: 100%;
  padding: 10px;
}

.my-food-list button {
  width: 150px;
  margin: auto;
  height: 30px;
}

.my-food-list, .my-food-totals {
  width: 50%;
}


.food-tooltip {
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  padding: 10px;
  border-style: solid;
  border-color: grey;
}


#food-limit{
  font-size: 9pt;
}

#food-limit div > span {
  background-color: black;
  color: yellow;
}

#macro-help, #settings {
  position: absolute;
  z-index: 3;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
  background-color: rgba(230, 202, 202, 0.9);
}

#macro-help div, #settings div {
  transform:translateY(10%);
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  height: 80%;
  background-color: white;
}


#macro-help p {
  width: 70%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

.equation {
  font-family: monospace;
}

.equation span {
  background-color: white;
  color: inherit;
  vertical-align:sub;
  font-size: 80%;
}

#settings .radio-btn {
  width: auto;
}

button:disabled{
  opacity: .5;
}

.macro-suggestion {
  display: flex; flex-direction: column;
}

.macro-suggestion > strong {
  text-align:left;
}

.within-goal, .not-within-goal {
  position:relative;
}

.within-goal img, .not-within-goal img {
  position: absolute;
  width: 40px;
}

.not-within-goal img {
  opacity: 0;
}

.within-goal > img, .not-within-goal img {
  left: 0;
}


/* Scrolling class style */

.scrollable{
  overflow-y: scroll;
}

.my-food.scrollable {
  overflow-y: hidden;
  overflow-x: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}


.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* numberLine class style */


.line-container {
  position: relatives;
  margin-top: 10px; margin-bottom: 10px;
  overflow-x: hidden;
}

.numberline {
  position: relative;
  border-color: black; border-width: 1px; border-style: solid;
  height: 15px;
  background-color: white;
}

.scale-origin, .scale-end {
  position: absolute;
  top: 10px;
}

.scale-end {
  right: 0;
}

.line {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: brown;
  opacity: .8;
  transition: all .5s ease;
}


.threshold-1, .threshold-2, .target {
  position: absolute;
  height: 15px;
  width: 2px;
  background-color: black;
}

.threshold-1 p, .threshold-2 p, .target p {
  position: absolute;
  bottom: 10px;
}

.threshold-1 {
  left: 25%;
}

.threshold-2 {
  left: 50%;
}

/* Animations */

/* Progress bar stars animations in and out */
@keyframes fadeIn{
    0%{
        transform:  rotate(0deg) translateX(0) translateY(-50px);
        opacity: 0;
        }
    100%{
        transform: rotate(360deg) scale(1) translateX(0) translateY(0);
        opacity: 1;
        }
}



@keyframes fadeOut{
    0%{
        transform:  rotate(0deg) translateX(0) translateY(0);
        opacity: 1;
        }
    100%{
        transform: rotate(360deg) scale(1) translateX(0) translateY(-50px);
        opacity: 0;
        }
}



.fade-in{
    animation: fadeIn .5s 1 ease;
}

.fade-out{
  animation: fadeOut .5s 1 ease;
}



/* animations for landing*/

.fade-appear{
  opacity: 0;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: all 1000ms ease;
}

.fade-enter{
  opacity: 0;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: all 1000ms ease;
}


.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active{
  opacity: 0;
  transition: all 1000ms ease;
}

.fade-exit-done{
  opacity: 0;
}


.fade-fast-appear, .fade-fast-enter{
  opacity: 0;
}

.fade-fast-appear.fade-fast-appear-active, .fade-fast-enter.fade-fast-enter-active {
  opacity: 1;
  transition: all 500ms ease;
}


.grow-appear, .grow-enter{
  opacity: 0;
  transform: scaleX(0%) scaleY(0%);
}

.grow-appear.grow-appear-active, .grow-enter.grow-enter-active {
  opacity: 1;
  transform: scaleX(100%) scaleY(100%);
  transition: all 500ms ease;
}






.enter-left-appear{
  opacity: 0;
  transform: translateY(-200px);
}

.enter-left-appear-active{
  opacity: 1;
  transform: translateY(0px);
  transition: all 800ms ease;
}
